@model WishlistForListVM
@{
    ViewData["Title"] = "Wishlist";
}

<!-- inner page banner -->
<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(/images/background/bg3.jpg);">
	<div class="container">
		<div class="dz-bnr-inr-entry">
			<h1>Wishlist</h1>
			<nav aria-label="breadcrumb" class="breadcrumb-row">
				<ul class="breadcrumb">
					<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> Home</a></li>
					<li class="breadcrumb-item">Wishlist</li>
				</ul>
			</nav>
		</div>
	</div>
</div>


@if(Model.WishlistItemVMs?.Count > 0)
{
	<!-- inner page banner End-->
	<div class="content-inner-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="table-responsive">
						<table class="table check-tbl">
							<thead>
								<tr>
									<th>Product</th>
									<th>Product name</th>
									<th>Unit Price</th>
									<th>Add to cart </th>
									<th>Remove</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model.WishlistItemVMs)
								{
									<tr>
										<td class="product-item-img"><img src="@item.ProductImageUrl" alt=""></td>
										<td class="product-item-name">@item.ProductName</td>
										<td class="product-item-price">@item.Price.ToString("C")</td>
										<td class="product-item-totle">
											<form asp-action="AddToBasket" asp-controller="ShoppingCart" method="post">
												<input type="hidden" name="quantity" value="1" />
												<input type="hidden" name="productId" value="@item.ProductId" />
												<button type="submit" class="btn btn-primary btnhover">Add To Cart</button>
											</form>
										</td>
										<td class="product-item-close">
											<form asp-action="RemoveProductFromWishlist" asp-controller="Wishlist" method="post">
												<input type="hidden" name="productId" value="@item.ProductId" />
												<button type="submit" class="btn btn-danger">&times;</button>
											</form>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

}