@using Bookify.Services.Contracts
@using System.Security.Claims
@model BookForListVM
@inject IUserService userService
@inject IReviewsService reviewsService
@inject IConfiguration config
@inject IBookService bookService

@{
	ViewData["Title"] = "Details";

	var userFullName = User.FindFirst("FullName")!.Value;
	var productsReviews = await reviewsService.GetReviewsAsync(Model.Id);
	var pictureName = await userService.GetLoggedInUserPictureName() ?? "";
	var ratingAverageValue = await reviewsService.GetAverageRatingForBookAsync(Model.Id);
	var relatedBooks = await bookService.GetRelatedBooksAsync(Model.Id);

}

<section class="content-inner-1">
	<div class="container">
		<div class="row book-grid-row style-4 m-b60">
			<div class="col">
				<div class="dz-box">
					<div class="dz-media">
						<img height="500" src="@Model.PictureUrl" alt="@Model.Title">
					</div>
					<div class="dz-content">
						<div class="dz-header">
							<h3 class="title">@Model.Title</h3>
							@if (ratingAverageValue.Value > 0)
							{
								<div class="shop-item-rating">
									<div class="d-lg-flex d-sm-inline-flex d-flex align-items-center">
										<ul class="dz-rating">
											@for (int i = 1; i <= @ratingAverageValue.Value; i++)
											{
												<li><i class="fa-solid fa-star text-yellow"></i></li>
											}
										</ul>
										<h6 class="m-b0">@ratingAverageValue.Value</h6>
									</div>
								</div>
							}
						</div>
						<div class="dz-body">
							<div class="book-detail">
								<ul class="book-info">
									<li>
										<div class="writer-info">
											<div>
												<span>Writen by</span>@Model.Author
											</div>
										</div>
									</li>
									<li><span>Publisher</span>@Model.Publisher</li>
									<li><span>Year</span>@Model.DatePublished.Year</li>
								</ul>
							</div>
							<p class="text-1">@Model.Description</p>
							<div class="book-footer">
								<div class="price">
									<h5>@Model.Price.ToString("C")</h5>
								</div>
								<div class="product-num">
									<form asp-action="AddToBasket" asp-controller="ShoppingCart" method="post">
										<input type="hidden" name="productId" value="@Model.Id" />
										<input type="hidden" name="quantity" value="1" />
										<button type="submit" class="btn btn-primary btnhover btnhover2"><i class="flaticon-shopping-cart-1"></i> <span>Add to cart</span></button>
									</form>
									<div class="bookmark-btn style-1 d-none d-sm-block">
										<form asp-action="AddProductToWishlist" asp-controller="Wishlist" method="post">
											<input type="hidden" name="productId" value="@Model.Id" />
											<button type="submit" style="outline: none; border: none">
												<input class="form-check-input" type="checkbox" id="flexCheckDefault1">
												<label class="form-check-label" for="flexCheckDefault1">
													<i class="fa-solid fa-heart"></i>
												</label>
											</button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-xl-8">
				<div class="product-description tabs-site-button">
					<ul class="nav nav-tabs">
						<li><a data-bs-toggle="tab" href="#graphic-design-1" class="active">Details Product</a></li>
						<li><a data-bs-toggle="tab" href="#developement-1">Customer Reviews</a></li>
					</ul>
					<div class="tab-content">

						<div id="graphic-design-1" class="tab-pane show active">
							<table class="table border book-overview">
								<tr>
									<th>Book Title</th>
									<td>@Model.Title</td>
								</tr>
								<tr>
									<th>Author</th>
									<td>@Model.Author</td>
								</tr>
								<tr>
									<th>ISBN</th>
									<td>@Model.ISBN (ISBN13: @Model.ISBN)</td>
								</tr>
								<tr>
									<th>Ediiton Language</th>
									<td>@Model.EditionLanguage.ToString()</td>
								</tr>
								<tr>
									<th>Book Format</th>
									<td>@Model.BookFormat, @Model.Pages Pages</td>
								</tr>
								<tr>
									<th>Date Published</th>
									<td>@Model.DatePublished.ToString("MMMM dd yyyy")</td>
								</tr>
								<tr>
									<th>Publisher</th>
									<td>@Model.Publisher</td>
								</tr>
								<tr>
									<th>Pages</th>
									<td>@Model.Pages</td>
								</tr>
								<tr>
									<th>Lesson</th>
									<td>@Model.Lessons</td>
								</tr>
								@if(Model.Tags.Any())
								{
									<tr class="tags">
										<th>Tags</th>
										<td>
											@foreach (var tag in Model.Tags)
											{
												<a href="javascript:void(0);" class="badge">@tag.TagName</a>
											}
										</td>
									</tr>
								}
							</table>
						</div>


						<div id="developement-1" class="tab-pane">
							<div class="clear" id="comment-list">
								<div class="post-comments comments-area style-1 clearfix">

									@if(productsReviews.Value != null)
									{
										@if (productsReviews.Value.Any())
										{

											<h4 class="comments-title">@productsReviews.Value.Count() REVIEWS</h4>
											<div id="comment">
												<ol class="comment-list">

												@foreach (var review in productsReviews.Value)
												{
														<li class="comment odd alt thread-even depth-1 comment" id="comment-5">
															<div class="comment-body" id="div-comment-5">
																<div class="comment-author vcard">
																	<img src="@review.ReviewerPictureUrl" alt="@review.ReviewerName" class="avatar" />
																	<cite class="fn">@review.ReviewerName</cite> <span class="says">says:</span>
																	<p>@review.CreatedAt.ToString("MMMM dd, yyyy 'at' h:mm tt").ToLower()</p>
																</div>
																<div class="comment-content dlab-page-text">
																	<p>@review.ReviewDescription</p>
																</div>
															</div>
														</li>
												}

												</ol>
											</div>
										}										
									}
									else
									{
										<p>No reviews yet. Be the first to review this book!</p>
									}

									<div class="default-form comment-respond style-1" id="respond">
										<h4 class="comment-reply-title" id="reply-title">LEAVE A REVIEW <small> <a rel="nofollow" id="cancel-comment-reply-link" href="javascript:void(0)" style="display:none;">Cancel reply</a> </small></h4>
										<div class="clearfix">

											<form method="post"  class="comment-form" asp-action="CreateOrUpdateReview" asp-controller="Reviews" >
												 <div asp-validation-summary="ModelOnly" class="text-danger"></div>
												<input type="hidden" asp-for="CreateReviewViewModel.BookId"  value="@Model.Id" />
												<input type="hidden" asp-for="CreateReviewViewModel.UserEmail" value="@userService.UserEmail" />
												<input type="hidden" asp-for="CreateReviewViewModel.ReviewerName" value="@userFullName" />
												<input type="hidden" asp-for="CreateReviewViewModel.ReviewerPictureName" value="@pictureName" />
										
												<div class="comment-form-comment">
													<label for="RatingValue">Your Rating</label>
													<select asp-for="CreateReviewViewModel.RatingValue" class="form-control">
														<option value="">Select Rating</option>
														<option value="1">1 - Poor</option>
														<option value="2">2 - Fair</option>
														<option value="3">3 - Good</option>
														<option value="4">4 - Very Good</option>
														<option value="5">5 - Excellent</option>
													</select>
													<span asp-validation-for="CreateReviewViewModel.RatingValue" class="text-danger"></span>
												</div>

												<p class="comment-form-comment">
													<textarea asp-for="@Model.CreateReviewViewModel.ReviewDescription" placeholder="Type Comment Here" class="form-control4"  cols="45" rows="3" required="required"></textarea>
													<span asp-validation-for="CreateReviewViewModel.ReviewDescription" class="text-danger"></span>
												</p>
												<p class="col-md-12 col-sm-12 col-xs-12 form-submit">
													<button id="submit" type="submit" class="submit btn btn-primary filled">
														Submit Now <i class="fa fa-angle-right m-l10"></i>
													</button>
												</p>
											</form>

										</div>
									</div>
								</div>
							</div>

						</div>


					</div>
				</div>
			</div>


			<div class="col-xl-4 mt-5 mt-xl-0">
				<div class="widget">
					<h4 class="widget-title">Related Books</h4>
					<div class="row related-books-container">
						@if (relatedBooks.Value.Any())
						{
							@foreach (var book in relatedBooks.Value)
							{
								<div class="col-xl-12 col-lg-6 mb-4">
									<div class="related-book-card h-100 d-flex flex-row">
										<!-- Image on the left -->
										<div class="book-image">
											<img src="@book.PictureUrl" alt="@book.Title" class="img-fluid" style="width: 100px; height: 150px; object-fit: cover;">
										</div>
										<!-- Book info on the right -->
										<div class="book-info ms-4 d-flex flex-column justify-content-between">
											<div>
												<h5 class="subtitle fw-bold">
													<a asp-action="Details" asp-controller="Books" asp-route-id="@book.Id" >@book.Title</a>
												</h5>
												<ul class="dz-tags list-unstyled mb-2">
													@foreach (var tag in book.Tags)
													{
														<a asp-action="GetBooksInSpecificTag" asp-route-tagId="@(tag.Id)">
															<li class="badge bg-secondary me-1">
																	@tag.TagName
															</li>
														</a>
													}
												</ul>
											</div>
											<div>
												<div class="price mb-2">
													<span class="price-num fw-bold">@book.Price.ToString("C")</span>
												</div>
												<form asp-action="AddToBasket" asp-controller="ShoppingCart" method="post">
													<input type="hidden" name="productId" value="@book.Id" />
													<input type="hidden" name="quantity" value="1" />
													<button type="submit" class="btn btn-outline-primary btn-sm btnhover btnhover2">
														<i class="flaticon-shopping-cart-1 me-2"></i> Add to cart
													</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							}
						}
					</div>
				</div>
			</div>




		</div>
	</div>
</section>
