@model ShoppingCart

@{
    ViewData["Title"] = "Your Basket";
}

<!-- inner page banner -->
<div class="dz-bnr-inr overlay-secondary-dark dz-bnr-inr-sm" style="background-image:url(images/background/bg3.jpg);">
    <div class="container">
        <div class="dz-bnr-inr-entry">
            <h1>Cart</h1>
            <nav aria-label="breadcrumb" class="breadcrumb-row">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home"> Home</a></li>
                    <li class="breadcrumb-item">Cart</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- inner page banner End-->
<!-- contact area -->
<section class="content-inner shop-account">
    <!-- Product -->
    <form asp-action="ClearBasket" asp-controller="ShoppingCart" method="post">
        <button class="btn btn-danger" style="position: absolute; right: 45px; top: 11px;">Clear Cart</button>
    </form>
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table check-tbl">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product name</th>
                                <th>Unit Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th class="text-end">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var shopCartItem in Model.ShoppingCartItems)
                            {
                                <tr>
                                    <td class="product-item-img">
                                        <img src="@shopCartItem.PictureUrl" alt="@shopCartItem.Name">
                                    </td>
                                    <td class="product-item-name">@shopCartItem.Name</td>
                                    <td class="product-item-price">@shopCartItem.Price.ToString("C")</td>
                                    <td>
                                        <form asp-action="UpdateQuantity" asp-controller="ShoppingCart" method="post">
                                            <input type="hidden" name="itemId" value="@shopCartItem.Id" />
                                            <div class="quantity btn-quantity d-flex align-items-center me-3">
                                                <button type="button" class="btn btn-outline-secondary decrement">-</button>
                                                <input type="text" name="Quantity" class="form-control text-center mx-2 product-item-quantity w-25" value="@shopCartItem.Quantity" readonly />
                                                <button type="button" class="btn btn-outline-secondary increment">+</button>
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </td>
                                    <td class="product-item-total">@((shopCartItem.Price * shopCartItem.Quantity).ToString("C"))</td>
                                    <td class="product-item-close">
                                        <form asp-action="RemoveItem" asp-controller="ShoppingCart" method="post">
                                            <input type="hidden" name="itemId" value="@shopCartItem.Id" />
                                            <button type="submit" class="btn btn-danger">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="widget">
                    <h4 class="widget-title">Cart Subtotal</h4>
                    <table class="table-bordered check-tbl m-b25">
                        <tbody>
                            <tr>
                                <td>Order Subtotal</td>
                                <td>@Model.ShoppingCartItems.Sum(item => item.Price * item.Quantity).ToString("C")</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>@Model.ShoppingCartItems.Sum(item => item.Price * item.Quantity).ToString("C")</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group m-b25">
                        <a class="btn btn-primary btnhover" type="button" asp-action="PlaceOrder" asp-controller="Orders" asp-route-shoppingCartId="@Model.BasketId">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Product END -->
</section>
<!-- contact area End-->
@section Scripts {
    <script>
        document.querySelectorAll('.increment').forEach(button => {
            button.addEventListener('click', function () {
                let quantityInput = this.closest('form').querySelector('.product-item-quantity');
                let currentValue = parseInt(quantityInput.value);
                quantityInput.value = currentValue + 1;
            });
        });

        document.querySelectorAll('.decrement').forEach(button => {
            button.addEventListener('click', function () {
                let quantityInput = this.closest('form').querySelector('.product-item-quantity');
                let currentValue = parseInt(quantityInput.value);
                if (currentValue > 1) {
                    quantityInput.value = currentValue - 1;
                }
            });
        });
    </script>
}
