@using Bookify.Services.Contracts
@model IEnumerable<BookForListVM>
@inject IReviewsService reviewService
@inject IBookService bookService

@{
	ViewData["Title"] = "Home Page";
	var allGenres = (IEnumerable<Genre>)ViewBag.AllGenres;
	var shoppingCart = (ShoppingCart)ViewBag.ShoppingCart;
	var reviewsResult = await reviewService.GetAllReviewsAsync();
	var OnSaleBooks = await bookService.GetOnSaleBooks();
}

<!--Swiper Banner Start -->
<div class="main-slider style-1">
	<div class="main-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide bg-blue" style="background-image: url(images/background/waveelement.png);">
				<div class="container">
					<div class="banner-content">
						<div class="row">
							<div class="col-md-6">
								<div class="swiper-content">
									<div class="content-info">
										<h6 class="sub-title" data-swiper-parallax="-10">BEST MANAGEMENT </h6>
										<h1 class="title mb-0" data-swiper-parallax="-20">Think and Grow Rich</h1>
										<ul class="dz-tags" data-swiper-parallax="-30">
											<li><a href="javascript:void(0);">Napoleon Hill</a></li>
											<li><a href="javascript:void(0);">Business & Strategy</a></li>
										</ul>
										<p class="text mb-0" data-swiper-parallax="-40">It is a long established fact
											that a reader will be distracted by the readable content of a page when
											looking at its layout. The point of using Lorem Ipsum is that it has a
											more-or-less normal.</p>
										<div class="price" data-swiper-parallax="-50">
											<span class="price-num">$17.2</span>
											<del>$15.25</del>
											<span class="badge badge-danger">15% OFF</span>
										</div>
										<div class="content-btn" data-swiper-parallax="-60">
											<a class="btn btn-primary btnhover" href="books-grid-view.html">Buy Now</a>
											<a class="btn border btnhover ms-4 text-white" href="books-detail.html">See
												Details</a>
										</div>
									</div>
									<div class="partner">
										<p>Our partner</p>
										<div class="brand-logo">
											<img src="images/partner/partner-1.png" alt="client">
											<img class="mid-logo" src="images/partner/partner-2.png" alt="client">
											<img src="images/partner/partner-3.png" alt="client">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-media" data-swiper-parallax="-100">
									<img src="images/banner/banner-media.png" alt="banner-media">
								</div>
								<img class="pattern" src="images/Group.png" data-swiper-parallax="-100" alt="dots">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide bg-blue" style="background-image: url(images/background/waveelement.png);">
				<div class="container">
					<div class="banner-content">
						<div class="row">
							<div class="col-md-6">
								<div class="swiper-content">
									<div class="content-info">
										<h6 class="sub-title" data-swiper-parallax="-10">BEST SELLER</h6>
										<h1 class="title mb-0" data-swiper-parallax="-20">Pushing Clouds</h1>
										<ul class="dz-tags" data-swiper-parallax="-30">
											<li><a href="javascript:void(0);">Napoleon Hill</a></li>
											<li><a href="javascript:void(0);">Business & Strategy</a></li>
										</ul>
										<p class="text mb-0" data-swiper-parallax="-40">Lorem ipsum dolor sit amet,
											consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
											dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
											ullamco laboris</p>
										<div class="price" data-swiper-parallax="-50">
											<span class="price-num">$9.5</span>
											<del>$12.0</del>
											<span class="badge badge-danger">20% OFF</span>
										</div>
										<div class="content-btn" data-swiper-parallax="-50">
											<a class="btn btn-primary btnhover" href="books-grid-view.html">Buy Now</a>
											<a class="btn border btnhover ms-4 text-white" href="books-detail.html">See
												Details</a>
										</div>
									</div>
									<div class="partner">
										<p>Our partner</p>
										<div class="brand-logo">
											<img src="images/partner/partner-1.png" alt="client">
											<img class="mid-logo" src="images/partner/partner-2.png" alt="client">
											<img src="images/partner/partner-3.png" alt="client">
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="banner-media" data-swiper-parallax="-100">
									<img src="images/banner/banner-media2.png" alt="banner-media1">
								</div>
								<img class="pattern" src="images/Group.png" data-swiper-parallax="-100" alt="dots">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container swiper-pagination-wrapper">
			<div class="swiper-pagination-five"></div>
		</div>
	</div>
	<div class="swiper main-swiper-thumb">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/book16.png" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Think and Grow Rich</h5>
						<div class="dz-meta">
							<ul>
								<li>by Napoleon Hill</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$9.5</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/grid/book9.jpg" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Pushing Clouds</h5>
						<div class="dz-meta">
							<ul>
								<li>by Jamet Sigh</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$5.7</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-muted"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/book16.png" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Think and Grow Rich</h5>
						<div class="dz-meta">
							<ul>
								<li>by Napoleon Hill</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$9.5</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="books-card">
					<div class="dz-media">
						<img src="images/books/grid/book9.jpg" alt="book">
					</div>
					<div class="dz-content">
						<h5 class="title mb-0">Pushing Clouds</h5>
						<div class="dz-meta">
							<ul>
								<li>by Jamet Sigh</li>
							</ul>
						</div>
						<div class="book-footer">
							<div class="price">
								<span class="price-num">$5.7</span>
							</div>
							<div class="rate">
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-yellow"></i>
								<i class="flaticon-star text-muted"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Swiper Banner End-->
<!-- Client Start-->
<div class="bg-white py-5">
	<div class="container">
		<!--Client Swiper -->
		<div class="swiper client-swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide"><img src="images/client/client1.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client2.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client3.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client4.svg" alt="client"></div>
				<div class="swiper-slide"><img src="images/client/client5.svg" alt="client"></div>
			</div>
		</div>
	</div>
</div>
<!-- Client End-->




<section class="content-inner-1 bg-light">
	<div class="container">
		<div class="section-head text-center">
			<h2 class="title">Our Mission</h2>
			<p>At Bookify, our mission is to enrich the reading experience and foster a love for literature by providing a seamless platform for exploring, borrowing, and purchasing books. We are dedicated to offering a wide range of literary works, empowering readers with easy access to knowledge while supporting authors and publishers globally.</p>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
				<div class="icon-bx-wraper style-3 m-b30">
					<div class="icon-lg m-b20">
						<i class="flaticon-open-book-1 icon-cell"></i>
					</div>
					<div class="icon-content">
						<h4 class="title">Comprehensive Book Library</h4>
						<p>Bookify offers a vast collection of books across all genres, providing readers with the opportunity to discover new stories, gain knowledge, and immerse themselves in diverse literary worlds.</p>
						<a asp-action="AboutUs">Learn More <i class="fa-solid fa-angles-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
				<div class="icon-bx-wraper style-3 m-b30">
					<div class="icon-lg m-b20">
						<i class="flaticon-exclusive icon-cell"></i>
					</div>
					<div class="icon-content">
						<h4 class="title">Trusted by Readers and Libraries</h4>
						<p>With a commitment to quality and user satisfaction, Bookify has become a trusted platform for readers and libraries alike, ensuring a reliable and enjoyable experience for all.</p>
						<a asp-action="AboutUs">Learn More <i class="fa-solid fa-angles-right"></i></a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
				<div class="icon-bx-wraper style-3 m-b30">
					<div class="icon-lg m-b20">
						<i class="flaticon-store icon-cell"></i>
					</div>
					<div class="icon-content">
						<h4 class="title">Innovative Library Management</h4>
						<p>Through our cutting-edge library management system, we empower institutions to efficiently manage book inventories, track lending activities, and streamline operations for a better user experience.</p>
						<a asp-action="AboutUs">Learn More <i class="fa-solid fa-angles-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>




@section LoadCartItems {

	@if (shoppingCart?.ShoppingCartItems?.Count > 0)
	{
		@foreach (var cartItem in shoppingCart.ShoppingCartItems)
		{

			<li class="cart-item">
				<div class="media">
					<div class="media-left">
						<a asp-action="Details" asp-controller="Books" asp-route-id="@cartItem.ProductId">
							<img class="media-object" src="@cartItem.PictureUrl">
						</a>
					</div>
					<div class="media-body">
						<h6 class="dz-title"><a asp-action="Details" asp-controller="Books" asp-route-id="@cartItem.ProductId"
								class="media-heading">@cartItem.Name</a></h6>
						<span class="dz-price">@cartItem.Price.ToString("C")</span>
						<span class="item-close">&times;</span>
					</div>
				</div>
			</li>
		}

		<li class="cart-item text-center">
			<h6 class="text-secondary">Total = @shoppingCart.ShoppingCartItems.Sum(x => x.Price * x.Quantity).ToString("C")</h6>
		</li>
		<li class="text-center d-flex">
			<a asp-action="Index" asp-controller="ShoppingCart" class="btn btn-sm btn-primary me-2 btnhover w-100">View Cart</a>

			<a asp-action="PlaceOrder" asp-controller="Orders" asp-route-shoppingCartId="@shoppingCart.BasketId"
				class="btn btn-sm btn-outline-primary btnhover w-100">Place Order</a>
		</li>
	}

}


@section SelectGenre {
	<select class="default-select">
		<option value="@null">Category</option>

		@foreach (var item in allGenres)
		{
			<option class="categorySectionGenreName" value="@item.Id">@item.GenreName</option>
		}
	</select>
}


<section class="content-inner-1 bg-grey reccomend">
	<div class="container">

		<div class="section-head text-center">
			<h2 class="title">Recommended For You</h2>
		</div>

		<!-- Swiper -->
		<div class="swiper-container swiper-two">
			<div class="swiper-wrapper">

				@foreach (var book in Model)
				{
					<div class="swiper-slide" style="width: 210px; margin-right: 30px;">
						<div class="books-card style-1 wow fadeInUp" data-wow-delay="0.4s">
							<div class="dz-media">
								<img src="@book.PictureUrl" alt="@book.Title">
							</div>
							<div class="dz-content">
								<h4 class="title">@string.Join(' ', book.Title.Split(' ').Take(2)) ...</h4>
								<span class="price">@book.Price.ToString("C")</span>
								<form asp-action="AddToBasket" asp-controller="ShoppingCart" method="post">
									<input type="hidden" name="productId" value="@book.Id" />
									<input type="hidden" name="quantity" value="1" />
									<form asp-action="addToBasket" asp-controller="ShoppingCart" method="post">
										<input type="hidden" name="productId" value="@book.Id" />
										<input type="hidden" name="quantity" value="1" />
										<button class="btn btn-secondary btnhover btnhover2" role="button">
											<i class="flaticon-shopping-cart-1 m-r10"></i> Add to cart
										</button>
									</form>
								</form>
							</div>
						</div>
					</div>
				}

			</div>
		</div>

	</div>
</section>

<section class="content-inner-1">
	<div class="container">
		<div class="section-head book-align">
			<h2 class="title mb-0">Books on Sale</h2>
			<div class="pagination-align style-1">
				<div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-c6bc724998b5546b"><i class="fa-solid fa-angle-left"></i></div>
				<div class="swiper-pagination-two swiper-pagination-bullets"><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet"></span><span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
				<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-c6bc724998b5546b"><i class="fa-solid fa-angle-right"></i></div>
			</div>
		</div>
		<div class="swiper-container  swiper-four swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
			<div class="swiper-wrapper" id="swiper-wrapper-c6bc724998b5546b" aria-live="off" style="transform: translate3d(-2160px, 0px, 0px); transition-duration: 300ms;">
			
				
				@foreach (var product in OnSaleBooks)
				{
					<div class="swiper-slide" data-swiper-slide-index="1" style="width: 210px; margin-right: 30px;" role="group" aria-label="1 / 16">
						<div class="books-card  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
							<div class="dz-media">
								<img src=@(product.PictureUrl) alt="@(product.Title)">
							</div>
							<div class="dz-content">
								<h5 class="title"><a href="books-grid-view.html">@(product.Title)</a></h5>
								<ul class="dz-tags">
									@foreach (var tag in product.Tags)
									{
										<li><a href="#">@(tag),</a></li>
									}
								</ul>
								<div class="book-footer">
									<div class="rate">
										<i class="fa-solid fa-star text-yellow"></i>@(Math.Round(product.Rating, 1))
									</div>
									<div class="price">
										<span class="price-num">@(product.Price.ToString("C"))</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				}

			



			</div>
			<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
		</div>
	</div>
</section>


@if (reviewsResult.Value is not null)
{
	<section class="content-inner bg-grey testimonial-wrapper-2">
		<div class="container">
			<div class="testimonial">
				<div class="section-head text-center">
					<h2 class="title">What Customer’s Said</h2>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="swiper-container testimonial-swiper-2 swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
				<div class="swiper-wrapper" id="swiper-wrapper-770236a7644d10a2e" aria-live="off" style="transform: translate3d(-2530px, 0px, 0px); transition-duration: 0ms;">

					@foreach (var review in reviewsResult.Value)
					{

						<div class="swiper-slide" data-swiper-slide-index="3" style="width: 1170px; margin-right: 95px;" role="group" aria-label="1 / 6">
							<div class="testimonial-2">
								<i class="fa-solid fa-quote-right test-quotes"></i>
								<img src="images/testimonial/wave.png" class="pattern" alt="/">
								<div class="testimonial-pic">
									<img src="@review.ReviewerPictureUrl" alt="@review.ReviewerName">
								</div>
								<div class="testimonial-info">
									<p class="testimonial-text">
										@review.ReviewDescription
									</p>
									<div class="testimonial-detail">
										<div class="clearfix">
											<h5 class="testimonial-name m-t10 m-b5">@review.ReviewerName</h5>
											<span class="testimonial-position">@review.CreatedAt.ToString("yyyy MMMM dd 'at' hh:mm:ss tt")</span>
										</div>
										<div class="dz-rating-bar">
											<ul class="dz-rating">
												@for (int i = 1; i <= review.RatingValue; i++)
												{
													<li><i class="fa-solid fa-star text-yellow"></i></li>
												}
											</ul>
											<span class="rate">@review.RatingValue</span>
										</div>
									</div>
								</div>
							</div>
						</div>

					}

				</div>
				<div class="swiper-pagination-four"></div>
				<span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
			</div>
		</div>

	</section>

}



@section FooterCategory {
	<!-- Footer Category -->
	<div class="footer-category">
		<div class="container">
			<div class="category-toggle">
				<a href="javascript:void(0);" class="toggle-btn" id="allBooksCategories">Books categories</a>
				<div class="toggle-items row">
					<div class="footer-col-book">
						<ul>
							@foreach (var genre in allGenres)
							{
								<li><a asp-action="GetBooksWithRelatedGenre" asp-controller="Home"
										asp-route-id="@genre.Id">@genre.GenreName</a></li>
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer Category End -->
}

@section Scripts {
	<script>
		var swiper = new Swiper('.swiper-two', {
			loop: true,
			slidesPerView: 4,
			spaceBetween: 30
		});



		const selectCategoryGenreName = document.querySelector('.default-select');
		selectCategoryGenreName.addEventListener('change', function () {
			console.log(this.value)
			const genreId = this.value;
			window.open(`/Home/GetBooksWithRelatedGenre/${genreId}`, '_self');
		})

	</script>

}